[Install]
WantedBy=multi-user.target

[Unit]
Description=ConceptNet uWSGI processes
Conflicts=shutdown.target reboot.target halt.target
After=syslog.target postgresql.service

[Service]
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
ExecStart=/home/conceptnet/env/bin/uwsgi --ini /home/conceptnet/uwsgi/emperor.ini
User=conceptnet
